body {
    background-image: url("../images/bananas.png");
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width:960px;
    padding:10px 20px;
    background-color:lemonchiffon;
    margin: 20px auto;
    border-radius: 12px;
}

header {
    text-align: center;
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    margin-bottom: 10px;
    padding: 15px 0;
    border-radius: 12px;
}

#start {
    padding: 30px 20px;
    background-color: aquamarine;
    border-radius: 12px;
}

#startButton {
    padding: 10px 20px;
    background-color: fuchsia;
    text-align: center;
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    max-width:30%;
    margin: 0 auto;
    border-radius: 12px;
}

#startButton:hover {
    background-color: gold;
    color: deepskyblue;
}

#gameDiv {
    background-color: lightpink;
    padding:10px 10px;
    display:none;
}

#timer {
    padding:20px 0px;
    background-color: wheat;
    text-align:center;
    font-size:35px;
    color: indigo;
}

#question {
    padding:20px 20px;
    text-align: center;
    background-color: darkcyan;
    font-size: 60px;
}

#choices {
    text-align: center;
    background-color: lightskyblue;
    padding:0px 0;
}

.choice {
    padding:20px 0px;
    background-color: paleturquoise;
    font-size: 30px;
}

.choice:hover {
    background-color: green;
    font-size:40px;
}

#solution {
    text-align:center;
    background-color: yellow;
    padding:20px 0;
    display:none;
    font-size:40px;
}

#finalStats {
    font-size:40px;
    text-align:center;
    padding:20px 20px;
    background-color: greenyellow;
    display:none;
}